{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block meta_data  %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock  %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/icons8-spider-web-64.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/icons8-spider-web-64.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/icons8-spider-web-64.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/icons8-spider-web-64.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/icons8-spider-web-64.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/icons8-spider-web-64.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/icons8-spider-web-64.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/icons8-spider-web-64.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons8-spider-web-64.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/icons8-spider-web-64.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons8-spider-web-64.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/icons8-spider-web-64.png' %}"> 



    <!--CSS -->
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    {% block extra_style %}{% endblock extra_style %}
{% block title %}
    <title>AIScrapping</title>
{% endblock title %}
  </head>
  <body>
  {% block content %}
  
  {% endblock content %}
    
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <h3>About Us</h3>
          <p>AIScrapy is your partner for digital growth, we specialize in Web Scrapping,Web development, mobile app development and digital marketing.</p>
          <ul class="social-list">
            <li class="social-links">
              <a href="https://www.facebook.com/A3Logics" class="social"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.linkedin.com/company/a3logics-i-ltd" class="social"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://twitter.com/a3logics" class="social"><i class="fab fa-twitter"></i></a>
              <a href="https://www.youtube.com/c/A3logics-inc" class="social"><i class="fab fa-youtube"></i></a>
              <a href="https://a3logics.com/rss.xml" class="social"><i class="fas fa-rss"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4  ">
          <h3>Quick links</h3>
           <ul class="list-footer">
              <li><a href='#'>  Home</a></li>
              <li><a href='#'>  Blogs</a></li>
              <li><a href='#'>  About Company</a></li>
              <li><a href='#'>  Associations & Awards</a></li>
              <li><a href='#'>  Contact Us</a></li>
           </ul>
        </div>
        <div class="col-lg-3 col-md-4 ">
          <h3>Technologies</h3>
           <ul class="list-footer">
              <li><a href='#' > Python
                 </a>
              </li>
              <li><a href='#'> Java</a></li>
              <li><a href='#'> Block Chain</a></li>
              <li><a href='#'> PowerBI</a></li>
           </ul>
        </div>
        <div class="col-lg-3 col-md-4">
          <h3>Services</h3>
           <ul class="list-footer">
            <li><a href='#' > Web Scrapping
            </a>
         </li>
         <li><a href='#'> Web Scrapping API</a></li>
         <li><a href='#'> Data Mining</a></li>
         <li><a href='#'> Network & Server</a></li>
           </ul>
        </div>
      </div>
      <div class="row align-items-center mt-5">
        <div class="col-lg-3">
          <img src="{% static 'images/aiscrapy-removebg-preview.png' %}" class="img-fluid">
        </div>
        <div class="col-lg-9">
          <span> <strong> SERVING IN 10+ COUNTRIES FOR WEB SCRAPPING, SOFTWARE AND MOBILE APP DEVELOPMENT</strong></span>
            <p>
               United States (USA), United Kingdom (UK), Singapore, Kenya, South Africa, Germany, Canada, Australia, Netherlands, Norway, United Arab Emirates (UAE), Finland etc.
            </p>
            <p>
               <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i> 4.9 out of 5.0 by 550+ customers for 1050 Web and Mobile App development projects.
            </p>
        </div>
     </div>
     <div class="row footer_bottom">
        <div class="col-lg-12">
           <div class="copyright">
              <p>Copyright © 2021 - <span itemprop="name">AIScrapy</span> | All Rights Reserved</p>
              <img class="float-end" src ="https://images.dmca.com/Badges/dmca_protected_sml_120l.png?ID=f3bd93df-b38e-4025-be03-dff9515b93e1"  alt="DMCA.com Protection Status" />
           </div>
        </div>
     </div>
    </div>
  </footer>
    


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}" ></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script>
   $(document).ready(function(){
     $(document).on('click','._jsExpandMenu', function(e){
        $('._jsExpandMenuBar').toggleClass("a3-menu-show");
        $('.main-header').toggleClass("a3-menu-show");
        if($('.main-header').hasClass("a3-menu-show")){
          $('.collapsible_ul').removeClass('active');
        }
     });
  });
  (function($){
   $(function(){ 
       // scroll is still position
       var scroll = $(document).scrollTop();
       var headerHeight = $('.main-header').outerHeight();
       //console.log(headerHeight);
  
       $(window).scroll(function() {
         // scrolled is new position just obtained
         var scrolled = $(document).scrollTop();
                 
         // optionally emulate non-fixed positioning behaviour
       
         if (scrolled > headerHeight){
           $('.main-header').addClass('off-canvas');
  
         } else {
           $('.main-header').removeClass('off-canvas');
         }
  
           if (scrolled > scroll){
                // scrolling down
            $('.main-header').removeClass('fixed');
             } else {
             //scrolling up
            $('.main-header').addClass('fixed');
           }       
         scroll = $(document).scrollTop(); 
        });
   });
  })(jQuery);
</script>


<script>
  jQuery(document).ready(function($) {

      $("input,textarea").focus(function(){
        $(this).parent().addClass("focused");
        

      }).blur(function(){
            $val  = $(this).val();
            if(!$val){
            $(this).parent().removeClass("focused");
            }
      })

    });
</script>
<script>
  new WOW().init();

</script>
<script>
  $(document).ready(function() {
    $("#owl-demo").owlCarousel({
        autoplay:true,
        autoPlay: 3000,
        loop: true,
        navigation : false,
        navigationText: ["<i class='fas fa-arrow-left'></i>","<i class='fas fa-arrow-right'></i>"],
        items : 7,
        responsive: {
        0: {
          items: 2
        },
        600: {
          items: 5
        },
        1000: {
          items: 7
        }
      }

    });

  });
</script>
<!-- <script>
  $(document).ready(function() {
    $("#owl-demo-1").owlCarousel({
        loop:true,
        margin:10,
        autoPlay: 3000, //Set AutoPlay to 3 seconds
        navigation : false,
        navigationText: ["<i class='fas fa-arrow-left'></i>","<i class='fas fa-arrow-right'></i>"],
        items : 1,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,2]

    });

  });
</script> -->
<script>
  $(document).ready(function() {
    var owl = $('.owl-carousel');
    owl.owlCarousel({
      autoplay:true,
      autoPlay: 3000,
      stagePadding: 300,
      margin: 40,
      nav: false,
      dots:false,
      loop: true,
      center:true,
      responsive: {
        0: {
          items: 1,
          stagePadding: 30,
          margin: 10,
        },
        768: {
          items: 1,
          stagePadding: 20,
          margin: 10,
        },
        1000: {
          items: 1,
          stagePadding: 200,
          margin: 20,
        },
        1200: {
          items: 1,
          stagePadding: 300
        }
      }
    })
  })
</script>
<script>
  var a = 0;
    $(window).scroll(function() {

      var oTop = $('#counter').offset().top - window.innerHeight;
      if (a == 0 && $(window).scrollTop() > oTop) {
        $('.counter-value').each(function() {
          var $this = $(this),
            countTo = $this.attr('data-count');
          $({
            countNum: $this.text()
          }).animate({
              countNum: countTo
            },

            {

              duration: 7000,
              easing: 'swing',
              step: function() {
                $this.text(Math.floor(this.countNum));
              },
              complete: function() {
                $this.text(this.countNum);
                //alert('finished');
              }

            });
        });
        a = 1;
      }

    });
</script>
{% block extra_script %}

{% endblock extra_script %}


</body>
</html>
